body
{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

    border: 5px solid black;
}

.navbar {
    display:flex;
    justify-content: left;
    gap: 10px;
}

.navbarBtn {
    background-color: #fff;
    border: black 2px;
}

button {
    background-color: #0275d8;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
    color: white;
}